 <p>{{ 'A'.repeat(value() + 1) }}</p>
<div
    [style]="{ width: '200px', height: '200px', display: 'flex', 'justify-content': 'center', 'align-items': 'center' }"
    style="flex-direction: column"
>
    <p>{{ value() }}</p> 
    <!-- Basically same as {{ currency(computed()) }} -->
     <p>{{ computed() | currency }}</p>
</div>
<button @click="value.update(v => v + 1)">Increment</button>
<button (click)="increment()">Increment</button>
<button (click)="this.increment()">Increment</button>
<br />
<input type="range" min="0" max="100" *model.number="value" />
<input type="range" min="0" max="100" [(model.number)]="value" />

<p *if="value() < 41">Less than 41</p>
<p *else-if="value() == 41">Equals 41</p>
<p *else>More than 41</p>

<br />
<br />

<button-component ref="btn1" />
<button-component (incremented)="console.log($event)" />

<br />
<br />

<hr />
<h2>Pipes</h2>

<input type="text" *model="text" />
<input type="text" v-model="text" />
<input type="text" [(model)]="text" />

<p>{{ text() | capitalize }}</p>
<p>{{ text() | capitalize(true) }}</p>
<p>{{ (text() | this.addA) | capitalize(true) }}</p>
<p>{{ text() | this.addA | this.addA }}</p>

<button (click)="text.set('asdf')">Set to 'asdf'</button>

<display-text [value]="text()" />

<hr />
<h2>2 way binding</h2>
<formatted-number v-model:value.number="numberValue" />
<formatted-number [(value.number)]="numberValue" />
<p>
    <button (click)="numberValue.update(v => (v ?? 0) - 1)">-</button>
    <span style="min-width: 50px; display: inline-block; text-align: center">{{ numberValue() }}</span>
    <button (click)="numberValue.update(v => (v ?? 0) + 1)">+</button>
</p>

<hr />
<h2>Shopping list example</h2>

<button (click)="addShoppingItem()">Add item</button>
<shopping-list />
<shopping-list />

<br *for="i in 10" />
